body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    margin: 0 auto;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    z-index: 501;
    margin: 0;
    padding: 2em 0em;
    width: 100%;
    font-size: 1.3em;
    color: white;
    background-color: rgb(35, 56, 74, 0.7);
    top: 0;
    position: sticky;
}

.header > h2 {
    margin: 0;
    padding-left: 3em;
}

.mainWrapper {
    width: 100vw;
    margin: 0 auto; 
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card__wrapper {
    width: 100%;
    margin: 2em;
}

/* Genre page */

.card {
    height: 370px;
    text-align: center;
    border-radius: 1em;
    color: white;
    background-color: rgb(32, 32, 32);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
}

.card__content > a > h1 {
    font-size: 2em;
    max-width: 80%;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    padding: 1em 1em .2em 1em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.content__total-games {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(253, 253, 253, 0.3);
    margin: 1em 1.5em 1.5em 1.5em;
}

.content__total-games > p:nth-of-type(1) {
    font-size: 1.3em;
    font-weight: bold;
}

.content__total-games > p:nth-of-type(2) {
    font-size: 1.3em;
    font-weight: bold;
    opacity: 0.5;
}


.content__populair-games {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: .4em 1em 0em 2em;
}

.game-name {
    font-size: 1em;
    color: white;
}

.game-name:hover {
    font-weight: bold;
}

.content__populair-games > p {
    font-size: 1em;
    font-weight: bold;
    opacity: 0.5;
}

.games__added {
    display: flex;
    align-items: center;
}

.games__added > p {
    padding-right: .3em;
    font-weight: bold;
    opacity: 0.8;
}

/* Game page */

.game__card {
    height: 100%;
    text-align: center;
    border-radius: 1em;
    color: white;
    background-color: rgb(32, 32, 32);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
    margin-bottom: 1em;
}

.game__card__title > a > h1 { 
    font-size: 2em;
    height: 70px;
    text-align: center;
    color: white;
    padding: 1em 1em .5em 1em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.game__likes {
    display: flex;
    justify-items: flex-start;
    padding: 1em;
    margin: 0;
}

.game__likes > img {
    width: 55px;
    height: 55px;
}

.game__likes > p {
    margin-left: -2.6em;
    margin-top: 1em;
    text-align: center;
}

/* release date */

.release__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: .4em 1em 0em 1em;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.release__date > p:nth-of-type(1) {
    font-weight: bold;
    font-size: .9em;
}

.release__date > p:nth-of-type(2) {
    font-weight: bold;
    font-size: .9em;
    opacity: .6;
}

/* game platform */

.game__platform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: .4em 1em 0em 1em;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.game__platform > p:nth-of-type(1) {
    font-weight: bold;
    font-size: .9em;
    opacity: 1;
}

.game__platform__name {
    display: flex;
}

.game__platform__name > a {
    font-size: .8em;
    font-weight: bold;
    opacity: .6;
    color: white;
    padding-left: .4em;
}

.game__platform__name > a:hover {
    opacity: 1;
}

/* game tags */

.game__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: .4em 1em 0em 1em;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.game__rating > p:nth-of-type(1) {
    font-weight: bold;
    font-size: .9em;
}

.game__rating > p:nth-of-type(2) {
    font-weight: bold;
    font-size: .9em;
    opacity: .6;
}

#loadMore {
    text-align: center;
    margin: 1em;
    padding: 1em;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

/* detail page */

.background {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgb(32, 32, 32);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail__content {
    font-size: 1.5em;
    z-index: 10;
    color: white;
    margin: 6em auto;
    width: 85%;
}

.detail__content > h1 {
    font-size: 7.5em;
    margin-top: .4em;
    letter-spacing: .1em;
}

.detail__release__date {
    display: flex;
    margin-top: -5.5em;
    margin-bottom: 4em;
    padding-left: .6em;
}

.detail__release__date > p:nth-of-type(1) {
    padding-right: 1em;
    font-weight: bold;
    font-size: .9em;
}

.detail__release__date > p:nth-of-type(2) {
    font-weight: bold;
    font-size: .9em;
    opacity: .6;
}

.detail__info__wrapper {
    display: flex;
    margin-top: 5em;
    width: 100%;
}

.game__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
}

.info__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.detail__game__info {
    width: 50%;
}

.name {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.detail__game__info > p {
    padding-bottom: .5em;
}

.name > p {
    padding: .5em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: .7em;
    border: 1px solid white;
    text-align: center;
    border-radius: 1em;
}

.name > a > p {
    padding: .5em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: .7em;
    border: 1px solid white;
    text-align: center;
    border-radius: 1em;
} 

/* Video */

.game__video {
    width: 100%;
    margin: 0 auto;
}

.game__video > video {
    border: 1px solid white;
}

/* breadcrumbs */

.breadcrumb__detail > p {
    font-size: 1em;
    margin: 0;
    color: white;
}

.breadcrumb__detail > p > span {
    padding: 0em .3em 0em .3em;
    opacity: .2;
}

.breadcrumb__detail > p > a {
    opacity: .7;
}

.breadcrumb__detail > p > a:nth-of-type(1) {
    padding-right: .3em;
    padding-left: .6em;
}

.breadcrumb__detail > p > a:nth-of-type(2) {
    padding-left: .3em;
}

.breadcrumb__detail > p > a:hover {
    opacity: 1;
}

/* back button */

.back {
    display: flex;
    justify-content: center;
}
.back > a {
    color: white;
}

.back > a > .material-icons {
    position: fixed;
    z-index: 502;
    top: 2%;
    left: 93%;
    font-size: 4em;
}

.detail__back {
    display: flex;
    justify-content: center;
}
.detail__back > a {
    color: white;
}

.detail__back > a > .material-icons {
    position: absolute;
    z-index: 101;
    top: 2%;
    left: 93%;
    font-size: 4em;
}

/* loading state */

.loader_wrap {
    position: absolute;
    flex-wrap: wrap;
    display: none;
    z-index: 500;
    justify-content: center;
    transition: all .5s linear;
}

.loader {
    width: 100%;
    margin: 2em;
}

.loading_content {
    height: 370px;
    text-align: center;
    border-radius: 1em;
    color: white;
    background-color: rgb(32, 32, 32);
}

.loading_content > img {
    padding-top: 4em;
}

.loading_content > p {
    margin-top: -1em;
}

.show {
    display: flex;
}



 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .card__wrapper{
        width: 40%;
    }

    .loader {
        width: 40%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card__wrapper {
        width: 40%;
    }

    .loader {
        width: 40%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .card__wrapper {
        width: 28%;
    }

    .loader {
        width: 28%;
    }
 }