body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

#gameGenres__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    width: 30%;
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
}

.card {
    height: 380px;
    text-align: center;
    border-radius: 1em;
    color: white;
    background: #1F1F1F;
    overflow: hidden;
    transition: all .5s linear;
}

.card > img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-bottom: 2px solid gold;
}

.card__content {
    padding: .5em;
}

.card__content > h1 {
    font-size: 2em;
    padding-bottom: .5em;
    margin: 0;
}

.card__content > p {
    margin: .7em 0em 0em 0em;
}

.card__content > p > span {
    font-size: 1.2em;
    text-align: center;
    border: 1px solid white;
    border-radius: 1em;
    padding: 0.4em;
    margin: 0em 0em 0em 1em;
}

#loadMore {
    text-align: center;
    margin: 1em;
    padding: 1em;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}