body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    color: #141414;
}

#main {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1em;
    padding: 1em;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}

#loadMore {
    text-align: center;
    margin: 1em;
    padding: 1em;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}